{{define "content"}} {{template "breadcrumb" .}}
<!-- Title -->
<div class="container space">
  <h1 class="title">Chat</h1>
  <p class="subtitle mt-2">Chat with an agent</p>
  <hr />
</div>

<!-- Chat -->
<div id="chat" class="container">
  <div
    id="chat-window"
    class="p-2 skeleton-block"
    hx-get="/views/chat_history"
    hx-trigger="load"
    hx-swap="outerHTML"
    hx-vars="{'id': new URLSearchParams(window.location.search).get('id')}"
  ></div>

  <!-- Form -->
  <form
    id="chat-input"
    class="field mt-6"
    hx-post="/views/chat_send"
    hx-trigger="submit"
    hx-target="#chat-window"
    hx-swap="outerHTML"
    hx-vars="{'id': new URLSearchParams(window.location.search).get('id'), 'message': document.getElementById('chat-textarea').value}"
    hx-on:submit="document.getElementById('chat-textarea').value = ''"
    hx-on::before-request="document.getElementById('button-send').classList.add('is-loading')"
    hx-on::after-request="document.getElementById('button-send').classList.remove('is-loading')"
  >
    <textarea
      id="chat-textarea"
      class="textarea"
      placeholder="Message"
    ></textarea>
    <button id="button-send" class="button is-primary mt-3">
      <span class="icon">
        <i class="fas fa-paper-plane"></i>
      </span>
      <span>Send</span>
    </button>
  </form>
</div>
{{end}}
